.week-view {
    &__days {
        display: flex;
        flex-direction: row;
        width: 700px;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none; // hide scrollbar for Firefox
        -ms-overflow-style: none; // hide scrollbar for IE and Edge

        &::-webkit-scrollbar {
            display: none; // hide scrollbar for Chrome, Safari, and Opera
        }
    }
}
